

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="/static/css/details.css">
    <link rel="stylesheet" href="/static/css/body.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>

    <title>face rec</title>
</head>

<body>



    

<div class="container emp-profile pb-3">
    <form method="POST" action="." class="needs-validation" enctype='multipart/form-data'>
        <input type="hidden" name="csrfmiddlewaretoken" value="OXlNPTuG87gmpZkBZ01MMxD4O0RnuNN9dP9XFQvn6TwufnaPYrqTGKXigmujZ1je">
        <div class="row">
            <div class="col-md-4">
                <h5 class="text-muted">Основная информация:</h5><br>

                <div class="d-flex justify-content-between">
                    <div class="m-1 mr-2">
                        <label class="text-muted"><small>ФИО:</small></label>
                        <input type="text" name="first_name" maxlength="70" class="form-control" required id="id_first_name">
                    </div>

                    <div class="m-1">
                        <label class="text-muted"><small>Группа:</small></label>
                        <input type="text" name="last_name" maxlength="70" class="form-control" required id="id_last_name">
                    </div>
                </div>

                <div class="ml-1">
                    <label class="text-muted"><small>Номер телефона:</small></label>
                    <input type="number" name="phone" min="-9223372036854775808" max="9223372036854775807" class="form-control" required id="id_phone">
                </div>
                <div class="m-1">
                    <label class="text-muted"><small>Email:</small></label>
                    <input type="email" name="email" maxlength="254" class="form-control" required id="id_email">
                </div>
                <div class="m-1">
                    <label class="text-muted"><small>Дата рождения:</small></label>
                    <input type="date" name="date" class="form-control" required id="id_date">
                </div>
            </div>


            <div class="col-md-4">
                <h5 class="text-muted">Profession Informations:</h5><br>
                <div class="m-1">
                    <label class="text-muted"><small>Profession:</small></label>
                    <input type="text" name="profession" maxlength="200" class="form-control" required id="id_profession">
                </div>
                <div class="m-1">
                    <label class="text-muted"><small>Status:</small></label>
                    <select name="status" class="form-control" id="id_status">
  <option value="employee" selected>employee</option>

  <option value="visitor">visitor</option>

</select>
                </div>
                <div class="m-1">
                    <label class="text-muted"><small>Shift:</small></label>
                    <input type="time" name="shift" class="form-control" required id="id_shift">
                </div>
                <div class="m-1" style="width: 4rem;">
                    <label class="text-muted"><small>Ranking/10:</small></label>
                    <input type="number" name="ranking" class="form-control" required id="id_ranking">
                </div>
            </div>

            <div class="col-md-4">
                <h5 class="text-muted">Biometric Photo:</h5><br>
                <div>
                    <div class="alert alert-warning">
                        <svg width="1.0625em" height="1em" viewBox="0 0 17 16" class="bi bi-exclamation-triangle"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M7.938 2.016a.146.146 0 0 0-.054.057L1.027 13.74a.176.176 0 0 0-.002.183c.016.03.037.05.054.06.015.01.034.017.066.017h13.713a.12.12 0 0 0 .066-.017.163.163 0 0 0 .055-.06.176.176 0 0 0-.003-.183L8.12 2.073a.146.146 0 0 0-.054-.057A.13.13 0 0 0 8.002 2a.13.13 0 0 0-.064.016zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z" />
                            <path
                                d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z" />
                        </svg>
                        <small>use only biometric pictures with .jpg format</small>
                    </div>
                    <img src="/static/img/bio.jpg" alt="" width="100%">
                </div>
                <div class="mt-3">
                    <input type="file" name="image" accept="image/*" required id="id_image">
                </div>
            </div>

        </div>
        <div class="mt-3">
            <button type="submit" class="btn btn-outline-success m-1">Save</button>
            <a href="/profiles/"><button type="button" class="btn btn-outline-danger m-1">Cancel</button></a>
        </div>
    </form>
</div>









</body>

</html>